<div class="flex justify-center bg-gradient-to-tr mt-[35%]">
  <div class="text-center">
    <h1 class="font-exo overflow-hidden whitespace-nowrap border-r-4 border-r-black pr-3 text-6xl text-black font-bold animate-typing">
      Bienvenido a
    </h1>
    <h2 class="font-exo overflow-hidden whitespace-nowrap border-r-4 border-r-black pr-3 text-6xl text-black font-bold animate-typing-delay opacity-0 mt-5">
      404 Not Found
      <span class="block text-sm mt-2">{{ activeProcessName || 'sin proceso activo' }}</span>
    </h2>
  </div>
</div>
