.bg-grid {
    background-color: white;
    background-image:
        linear-gradient(to right, #e5e7eb 1px, transparent 1px),
        linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
    background-size: 6rem 4rem;
    animation: moveGrid 5s linear infinite alternate;
}

@keyframes moveGrid {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100px 100px;
    }
}